{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<h1>{{ project.title }}</h1>
	<p>{{ project.description }}</p>
	{% if project.project_url %}
		<p>{{project.project_url}}</p>
	{% endif %}
	Created: {{project.creation_date}}<br />
	Modified: {{project.update_date}}<br />
	</p>
	<p>
	{% if project.open %}
		Open
	{% else %}
		Closed
	{% endif %}
	<br />
	</p>
	
	{% if can_edit %}
		<a href="/project/{{ project.id }}/delete" onClick="return confirm('This action is permanent and cannot be undone')">Delete project</a> <br />
	{% endif %}

	{% if project.tags %}
		Tags
		<ul>
			{% for tag in project.tags.all %}
				<li>
					{{tag.title}}
				</li>
			{% endfor %}
		</ul>
	{% endif %}


	{% if project.position_set %}
		Positions <br />
		
		{% if can_edit %}
			<a href="/project/{{ project.id }}/position/create">Add New Position</a><br />
		{% endif %}
		
		<ul>
			{% for position in project.position_set.all %}
				<li>
					{{ position.title }}
					{% if can_edit %}
						{# Don't allow deleting own position #}
						{% if position.project_relation.user.id != user.userdata.id %}
							<a href="/project/{{ project.id }}/position/{{ position.id }}/delete" onClick="return confirm('This action is permanent and cannot be undone')">delete</a>
						{% endif %}
					{% endif %}
					<br />
					{% if position.project_relation %}
						Held by: {{ position.project_relation.user.user.username }} 
						{% if position.project_relation.admin %}
							[Admin]
						{% endif %}
						{% if can_edit %}
							{% if position.project_relation.user.id != user.userdata.id %}
								{# Don't allow a user to de-admin themselves or remove their own position (for now) #}
								
								<a href="/project/{{ project.id }}/position/{{ position.id }}/free" onClick="return confirm('This action is permanent and cannot be undone')">Remove</a> 
								
								{% if position.project_relation.admin %}
									<a href="/project/{{ project.id }}/position/{{ position.id }}/demote" onClick="return confirm('This action is permanent and cannot be undone')">demote</a>
								{% else %}
									<a href="/project/{{ project.id }}/position/{{ position.id }}/promote" onClick="return confirm('This action is permanent and cannot be undone')">promote</a>
								{% endif %}
							{% endif %}
						{% endif %}
					{% else %}
						{% if not is_member %}
							<a href="/project/{{ project.id }}/position/{{ position.id }}/accept" onClick="return confirm('This action is permanent and cannot be undone')">Accept position</a>
						{% endif %}
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}